<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body style="">
<div style="    margin: 0 auto;
    width: 50%;
    margin-top: 100px;">
    <h3>感谢你使用x-man后台管理框架</h3>
    <h3>有问题+Q 1655241471</h3>
    <h3>觉得还不错？ 给个赞 <a href="https://fly.layui.com/case/u/8917272" target="_blank">点赞</a> 或者 给个star <a href="https://github.com/imxiny/x-man" target="_blank">star</a> 谢谢</h3>
    <h3>后台地址 <a href="/admin">点我</a> 账号：amdin 密码：123456</h3>
</div>
</body>
</html>