<div class="layui-form-item">
	<label class="layui-form-label" for="{%{name}%}">{%{required1}%}{%{title}%}</label>
	<div class="layui-input-block">
		<input type="text" readonly style="cursor: pointer" name="{%{name}%}" id="{%{name}%}" placeholder="{%{title}%}" {%{required2}%} autocomplete="off" {%{attr}%} class="layui-input">
		<img src="" id="{%{name}%}_show" alt="{%{title}%}" style="height: 100px;width: auto;position: absolute;z-index: 10;border: 1px dashed #d2d2d2;display: none">
	</div>
</div>